<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/41896939-6760-4fbc-aa50-c5dde7e96f05/resourceGroups/bkstraining01/providers/Microsoft.ContainerRegistry/registries/bkstrainingregistry01</ResourceId>
    <ResourceName>bkstrainingregistry01</ResourceName>
    <ResourceGroup>bkstraining01</ResourceGroup>
    <Subscription>MSDN Platforms Subscription</Subscription>
    <RegistryUrl>https://bkstrainingregistry01.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>233f576e-f569-4219-bc8e-7958443da427</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>